.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
h1 {
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: #fff;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
